<%= javascript_include_tag "prototype","effects","prototype-ui","application" %>
<%= stylesheet_link_tag "themes/carousel/prototype-ui", :media => "all" %>
      <div id="vertical_carousel">
      <div class="previous_button"></div>
      <div class="container">
        <ul>
          <li>
             <%= render :partial => "smiles" %>
          </li>
          <li>
            second
          </li>
          <li>
	    third
          </li>
         </ul>
      </div>
      <div class="next_button"></div>
    </div>
    <script type="text/javascript">
    // <![CDATA[
      function runTest() {

        vCarousel = new UI.Carousel("vertical_carousel", {direction: "vertical"});
      }

      Event.observe(window, "load", runTest);
    // ]]>
    </script>

