/* 
    Document   : smiles
    Created on : Apr 27, 2010, 4:33:12 PM
    Author     : sergey
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.smiletable{
   width: 100%; height: 85%;
}

.smiletable td{
    
    text-align: center;
    vertical-align: middle;
}
.sm-pages-container{
    
}

.sm-paginator-container{
    text-align: center;
}

.sm-paginator-active {
    text-decoration: none;
    cursor: default;
    color: red;
    vertical-align: middle;
}
